@page
@model Spotify_komandinis.OverviewModel
@{


    <div class="text-center">
        <p>Prisijungimas sekmingas!</p>

    </div><div class="text-sm-right">
        <button id="logout-button" class="btn btn-primary">Log out</button>
    </div>
          <div>
              @*class="custom-select" style="width:27%" name="menuRange" id="range_selection"*@
              <select asp-for="displaySelection" asp-items="Model.displaySelections" id="displaySelection">
                  <option value="">Select what to display</option>
              </select>
              <select asp-for="range" asp-items="Model.rangeSelections" id="range">
                  <option value="">Select time range</option>
              </select>
              <form action="" method="post" id="display-button">
                  <input type="submit" name="display-button" value="Display" />
              </form>

              @*<button id="display-button" class="btn btn-primary">Display</button>*@


          </div>
    @if (Model.generateTable)
    {
        <table class="table table-light table-striped table-hover" style="display:none" id="tracks" runat="server">
            <thead>
                <tr>
                    <th>Album</th>
                    <th>Artist</th>
                    <th>Name</th>
                    <th>Popularity</th>
                    <th>Listen</th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.trackList.Count; i++)
                {
                    <tr>
                        <td>@Model.trackList[i].album</td>
                        <td>@Model.trackList[i].ReturnArtist(i, Model.trackList) </td>
                        <td>@Model.trackList[i].name</td>
                        <td>@Model.trackList[i].popularity</td>
                        <td><iframe src="https://open.spotify.com/embed/track/@Model.trackList[i].id" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>
                    </tr>

                }
            </tbody>
        </table>
        <div class="row justify-content-center">
            <div class="col-4">
                <table class="table table-light table-striped table-hover" style="display:none" id="artists" runat="server">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (Artist artist in Model.artistList)
                        {
                            <tr>
                                <td>@artist.name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

    @section Scripts{
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>

            //login button kuris redirectina i spotify ir grazina koda kartu su URL i /Callback
            $(document).ready(function () {
                if (@Model.generateTable) {
                    $("#artists").hide();
                    $("#tracks").hide();
                    var choice = document.getElementById("displaySelection").value;
                    if (choice == 1)
                        $("#artists").show();
                    if (choice == 2)
                        $("#tracks").show();
                }
                    document.getElementById("display-button").addEventListener("click", function () {

                   
                });

                $("#logout-button").click(function () {
                    window.location.href = "/Index";
                });

            });
        </script>
    }

}
