@page
@model Spotify_komandinis.OverviewModel
@{



    <div class="text-center">

    </div><div class="text-sm-right">
        <button id="logout-button" class="btn btn-dark">Log out</button>
    </div>
    <div>
        <select class="custom-select" style="width:27%" name="menuType" id="selection">
            <option value="">Select what you want to see</option>
            <option value="1">Artists</option>
            <option value="2">Tracks</option>
            <option value="3">Recommended</option>
        </select>
        <select class="custom-select" style="width:27%" name="menuRange" id="range_selection">
            <option value="">Select time range</option>
            <option value="1">4 weeks</option>
            <option value="2">6 months</option>
            <option value="3">All time</option>
        </select>
        <button id="display-button" class="btn btn-light" style="margin-bottom: 10px; margin-top: 10px">Display</button>
    </div>

    <table class="table table-light table-striped table-hover" style="display:none" id="tracksShort" runat="server" data-toggle="table">
        <thead>
            <tr>
                <th data-field="album" data-sortable="true">Album</th>
                <th data-field="artist" data-sortable="true">Artist</th>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="popularity" data-sortable="true">Popularity</th>
                <th>Listen</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.trackListShort.Count; i++)
            {
                <tr>
                    <td>@Model.trackListShort[i].album</td>
                    <td>@Model.trackListShort[i].ReturnArtist(i, Model.trackListShort) </td>
                    <td>@Model.trackListShort[i].name</td>
                    <td>@Model.trackListShort[i].popularity</td>
                    <td><iframe src="https://open.spotify.com/embed/track/@Model.trackListShort[i].id" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>
                </tr>

            }
        </tbody>

    </table>

    <table class="table table-light table-striped table-hover" style="display:none" id="tracksMedium" runat="server"  data-toggle="table">
        <thead>
            <tr>
                <th data-field="album" data-sortable="true">Album</th>
                <th data-field="artist" data-sortable="true">Artist</th>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="popularity" data-sortable="true">Popularity</th>
                <th>Listen</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.trackListMedium.Count; i++)
            {
                <tr>
                    <td>@Model.trackListMedium[i].album</td>
                    <td>@Model.trackListMedium[i].ReturnArtist(i, Model.trackListMedium) </td>
                    <td>@Model.trackListMedium[i].name</td>
                    <td>@Model.trackListMedium[i].popularity</td>
                    <td><iframe src="https://open.spotify.com/embed/track/@Model.trackListMedium[i].id" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>
                </tr>

            }
        </tbody>

    </table>

    <table class="table table-light table-striped table-hover" style="display:none" id="tracksLong" runat="server" data-toggle="table">
        <thead>
            <tr>
                <th data-field="album" data-sortable="true">Album</th>
                <th data-field="artist" data-sortable="true">Artist</th>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="popularity" data-sortable="true">Popularity</th>
                <th data-field="album" data-sortable="true">Listen</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.trackListLong.Count; i++)
            {
                <tr>
                    <td>@Model.trackListLong[i].album</td>
                    <td>@Model.trackListLong[i].ReturnArtist(i, Model.trackListLong) </td>
                    <td>@Model.trackListLong[i].name</td>
                    <td>@Model.trackListLong[i].popularity</td>
                    <td><iframe src="https://open.spotify.com/embed/track/@Model.trackListLong[i].id" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>
                </tr>

            }
        </tbody>

    </table>
    <table class="table table-light table-striped table-hover" style="display:none" id="recommendations" runat="server" data-toggle="table">
        <thead>
            <tr>
                <th data-field="album" data-sortable="true">Album</th>
                <th data-field="artist" data-sortable="true">Artist</th>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="popularity" data-sortable="true">Popularity</th>
                <th>Listen</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.recommendationList.Count; i++)
            {
                <tr>
                    <td>@Model.recommendationList[i].album</td>
                    <td>@Model.recommendationList[i].ReturnArtist(i, Model.recommendationList) </td>
                    <td>@Model.recommendationList[i].name</td>
                    <td>@Model.recommendationList[i].popularity</td>
                    <td><iframe src="https://open.spotify.com/embed/track/@Model.recommendationList[i].id" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>
                </tr>

            }
        </tbody>
    </table>

    <div class="row justify-content-center">
        <div class="col-4">
            <table class="table table-light table-striped table-hover" style="display:none" id="artistsShort" runat="server" data-toggle="table">
                <thead>
                    <tr>
                        <th data-field="name" data-sortable="true">Name</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Artist artist in Model.artistListShort)
                    {
                        <tr>
                            <td>@artist.name</td>
                        </tr>
                    }
                </tbody>
            </table>

            <table class="table table-light table-striped table-hover" style="display:none" id="artistsMedium" runat="server" data-toggle="table">
                <thead>
                    <tr>
                        <th data-field="name" data-sortable="true">Name</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Artist artist in Model.artistListMedium)
                    {
                        <tr>
                            <td>@artist.name</td>
                        </tr>
                    }
                </tbody>
            </table>

            <table class="table table-light table-striped table-hover" style="display:none" id="artistsLong" runat="server" data-toggle="table">
                <thead>
                    <tr>
                        <th data-field="name" data-sortable="true">Name</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Artist artist in Model.artistListMedium)
                    {
                        <tr>
                            <td>@artist.name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-sm-right">
        <button id="convert" class="btn btn-light">
            Export your results
        </button>
    </div>

    @section Scripts{
        <link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">

        <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
        <script src="tableExport.jquery.plugin/html2canvas.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>


            //login button kuris redirectina i spotify ir grazina koda kartu su URL i /Callback
            $(document).ready(function () {

                $("#display-button").click(function () {
                    $("#artistsShort").hide();
                    $("#artistsMedium").hide();
                    $("#artistsLong").hide();
                    $("#tracksShort").hide();
                    $("#tracksMedium").hide();
                    $("#tracksLong").hide();
                    $("#recommendations").hide();
                    var type = document.getElementById("selection").value;
                    var range = document.getElementById("range_selection").value;

                    if (type == 1 && range == 1)
                        $("#artistsShort").show();
                    if (type == 1 && range == 2)
                        $("#artistsMedium").show();
                    if (type == 1 && range == 3)
                        $("#artistsLong").show();

                    if (type == 2 && range == 1)
                        $("#tracksShort").show();
                    if (type == 2 && range == 2)
                        $("#tracksMedium").show();
                    if (type == 2 && range == 3)
                        $("#tracksLong").show();

                    if (type == 3)
                        $("#recommendations").show();

                });

                $("#logout-button").click(function () {
                    window.location.href = "/Index";
                });

            });
            function downloadPDFWithBrowserPrint() {
                window.print();
            }
            document.querySelector('#convert').addEventListener('click', downloadPDFWithBrowserPrint);


        </script>
    }

}
